body,
html {
  background: #f3f5ff;
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

.Container {
  width: 500px;
  border-radius: 6px;
  position: relative;
  background: #282b36;
  margin: 60px auto 0 auto;
  box-shadow: 0 10px 40px 0 rgba(40, 43, 54, 0.3);
}
.Container nav {
  top: 15px;
  left: 15px;
  position: absolute;
}
.Container nav a {
  z-index: 2;
  color: #a5aaaf;
  font-size: 13px;
  padding: 5px 8px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
}
.Container nav a:hover,
.Container nav a.active {
  color: white;
  font-size: medium;
}
.Container nav .current {
  top: 0;
  left: 0;
  z-index: 0;
  width: 40px;
  height: 22px;
  border-radius: 3px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
}

.Container .Contents {
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
}

.Container .Content {
  width: 100%;
  flex-shrink: 0;
  color: #ffffff;
  font-size: 15px;
  line-height: 24px;
  padding: 60px 30px 30px 30px;
}
.Container .Content .hljs {
  padding: 0;
  font-size: 13px;
  line-height: 24px;
  font-family: Consolas, Monaco, monospace;
}

.hljs-number {
  color: #ffc24c;
}

.credit {
  left: 50%;
  bottom: 30px;
  width: 300px;
  position: fixed;
  text-align: center;
  margin-left: -150px;
}
.credit p {
  color: #6c738b;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
}
.credit p a {
  color: #32325d;
  font-weight: 400;
  text-decoration: none;
}
.credit p a:hover {
  color: #5c33ff;
}
